h1 {
  font-size: 2.6rem;
  padding: @padding-lg;
}

.contact-form {
  .custom-flex-layout(center, center);
  flex-direction: column;

  form {
    font-size: 2rem;
    text-align: center;
    padding: 4rem;
    border: 1px solid @main-border-color;
    border-radius: 6px;
    margin: 2rem 0;

    input {
      padding: 1rem;
      margin: 2rem 0;
      width: 100%;
      font-size: 2rem;
      outline: none;
      transition: ease-out 0.1s;

      &:hover {
        transform: scale(1.03);
        transition: ease-in 0.1s
      }
    }

    textarea {
      font-size: 2rem;
      padding: 1rem;
      margin: 2rem 0;
      outline: none;
      width: 100%;
    }

    input[type="submit"] {
      .main-button-style(@btn-bg-color, 30%);
      transition: ease-out 0.2s;

      &:hover {
        .main-button-hover-style();
      }

      @media @phone {
        width: 80%;
      }
    }
  }
}